body {
    height: 100vh;
    color: #fff;
    background-image: url("../../../public/bg.png");
}

body main {

    background-color: #222423;
    position: relative;
    z-index: 40;
}

body main::after {
    content: "";
    width: 100%;
    height: 100%;
    background-image: url("../../../public/bg.png"), url("../../../public/MapChart_Map-1\ 2.png");
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 50%;
    background-position: center center;
    background-size: cover;
}

.sidebar {
    background: linear-gradient(131.42deg, #242726 6.67%, rgba(36, 39, 38, 0) 74.33%);
    border: 2.51px solid;
    border-image: linear-gradient(90deg, #242726, #ffffff38) 1;
    border-bottom: 0;
    border-radius: 7px 7px 0 0;
}

.header-box {
    border: 1px solid;
    border-image: linear-gradient(to left, #78797950, #242726);
    border-image-slice: 1;
    background-image: linear-gradient(to right, #242726, #7978781a)
}

.box {
    background-image: linear-gradient(to left, #242726, #7978781a)
}

.list-date .item-box {
    /* border: 1px solid;
    border-image: linear-gradient(to right, #78797950, #242726);
    border-image-slice: 1; */
    border: 1.48px solid;

    border-image-source: linear-gradient(89.43deg, rgba(255, 255, 255, 0.11) 1.19%, rgba(255, 255, 255, 0) 36.37%);


    /* background-image: linear-gradient(to right, #7978781a, #242726); */
    background: linear-gradient(131.42deg, #242726 6.67%, rgba(36, 39, 38, 0) 74.33%);


}

.list-date .item-box:nth-child(even) {
    border: 1px solid;
    border-image: linear-gradient(to left, #78797950, #242726);
    border-image-slice: 1;
    background-image: linear-gradient(to left, #7978781a, #242726);

}

svg {
    width: 50px;
}

.sidebar ul li {
    transition: 0.4s ease;
}

.sidebar .active {
    background-color: #00a693;
    color: white;
}

.sidebar li:hover {
    background-color: #00a693;
    color: white;
}

.sidebar li:hover svg {
    fill: white
}

.sidebar .active svg {
    fill: white !important;
}

.sidebar svg {
    fill: #555555;
}

.sp-border {
    border: 1.48px solid;
    border-image-source: linear-gradient(-45deg, rgba(255, 255, 255, 0.11) 1.19%, rgba(255, 255, 255, 0) 36.37%);
    border-image-slice: 1;
}