body {
    background-color: #222423;
    height: 100vh;
    color: #fff;
}

.sidebar {
    background-image: linear-gradient(to left, #242726, #242726);
    border: 3px solid;
    border-image: linear-gradient(to right, #242726, #242726);
    border-image-slice: 1;

}

.box {
    border: 1px solid;
    border-image: linear-gradient(to right, #78797950, #242726);
    border-image-slice: 1;
}

.list-date .item-box {
    border: 1px solid;
    border-image: linear-gradient(to right, #78797950, #242726);
    border-image-slice: 1;
    background-image: linear-gradient(to right, #7978781a, #242726);

}
.list-date .item-box:nth-child(even) {
    border: 1px solid;
    border-image: linear-gradient(to left, #78797950, #242726);
    border-image-slice: 1;
    background-image: linear-gradient(to left, #7978781a, #242726);

}

svg {
    width: 50px;
}